<%
// 获取当前页面的语言 (lang) 值，默认为 'zh'
const currentLang = page.lang || 'zh';

// 获取文章，按日期排序，过滤当前语言的文章并显示前5条
const currentPostsToShow = site.posts
        .filter(post => post.lang === currentLang)  // 过滤当前语言的文章
const postsToShow = site.posts
        .filter(post => post.lang === currentLang)  // 过滤当前语言的文章
        .reduce((acc, post) => {
            // 按日期插入文章，保持数组长度为 5
            if (acc.length < 5) {
                acc.push(post);
            } else {
                const minDatePost = acc.reduce((min, p) => new Date(p.date) < new Date(min.date) ? p : min);
                if (new Date(post.date) > new Date(minDatePost.date)) {
                    acc[acc.indexOf(minDatePost)] = post; // 替换最旧的文章
                }
            }
            return acc;
        }, [])
        .sort((a, b) => new Date(b.date) - new Date(a.date)); // 排序
// console.log("=========================================================")
// console.table(currentPostsToShow.map(post => ({title: post.title, sor: post.sor})));
// console.table(postsToShow.map(post => ({title: post.title, sor: post.sor})));
// console.log(postsToShow.filter(post => post.sor === 3))
%>

<div class="post-list">
    <% if (postsToShow.length > 0) { %>
        <% postsToShow.forEach(function(post) { %>
            <div class="post-item" style="margin-bottom: 20px;">
                <h3>
                    <a href="<%= post.permalink %>"
                       onclick="handleLinkClick(event, '<%= post.permalink %>')"><%= post.title %></a>
                </h3>
                <p><%= post.excerpt %></p>
                                <p class="post-date" style="margin-left: -10px;"><%= post.date.format('YYYY-MM-DD') %></p>
<!--                <p class="post-date" style="margin-left: -10px;"><%= post.date %></p>-->
                <a href="<%= post.permalink %>" class="post-detail-link"
                   onclick="handleLinkClick(event, '<%= post.permalink %>')"><%= __('home.detail') %></a>
            </div>
        <% }); %>
    <% } else { %>
        <p><%= __('home.np') %><</p>
    <% } %>
</div>
<!--
<script>
    function getCookie(name) {
        let value = "; " + document.cookie;
        let parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }

    /*!点击能够跳转到相应的文章页面*/
    function handleLinkClick(event, url) {
        event.preventDefault(); // 阻止默认链接行为

        // 获取当前语言
